@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --color-primary: #C5A25D;
  --color-accent: #C5A25D;
  --color-bg: #252527;
  --color-bg-alt: #1B1A1D;
  --color-card: #181818;
  --color-divider: #92612e;
  --color-muted: #bfae8e;
  --color-white: #fff;
  --color-text: #CBCACD;

  color-scheme: dark;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--color-bg), var(--color-bg-alt));
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
